$max-mobileMax:413px;
$min-mobileMin:414px;
$min-sm:576px;
$min-md:768px;
$min-lg:992px;
$min-xl:1200px;
$min-xxl:1440px;
//Mixin
$min-mobile:414px;
$min-tablet:768px;
$min-laptop:992px;
$min-laptopXL:1440px;